@import url("./header.css");
@import url("./footer.css");
@import url("./about.css");
@import url("./alchoolics.css");
@import url("./nonalcoholics.css");
@import url("./shop.css");
@import url("./dicas.css");
@import url("./contato.css");
@import url("./login.css");
@import url("./register.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif !important;
  color: white;
  user-select: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #800000;
}
