@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #800000;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > img,
footer > img {
  width: 20%;
}

.nav-link,
.dropdown-item {
  font-weight: 700;
}

.nav-link {
  color: white !important;
}

.dropdown-item {
  color: #800000 !important;
}
