.mainreceitas{
    background-color: #932641;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.accordion{
    border-radius: 10px ; 
    width: 70%;
    margin-left: 200px;
    text-align: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif !important;
    font-size: 100%;
    padding: 1rem;
}

.accordion-body>strong,ul>li,ol>li{
    color: black !important;
    text-decoration: none;
    text-align: justify !important;
}