.mainreceitas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  background-image: url("../img/bg/bg-receitas.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 185px);
  max-height: calc(100vh - 185px);
}

.accordion {
  border-radius: 10px;
  width: 70%;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif !important;
  font-size: 100%;
  padding: 1rem;
  height: 100%;
}

.accordion-header > button {
  background-color: rgba(136, 0, 0, 0.548);
  color: white;
}
.accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 250px;
  overflow-y: auto;
  padding: 0.5rem;
}

.accordion-body::-webkit-scrollbar {
  width: 10px;
}

.accordion-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.accordion-body::-webkit-scrollbar-thumb {
  background: #800;

  border-radius: 10px;
}

.accordion-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.accordion-body > img {
  width: 30%;
  border-radius: 1rem;
}

.accordion-body > strong,
ul > li,
ol > li {
  color: black !important;
  text-decoration: none;
  text-align: justify !important;
}
